* {
  margin: 0;
  text-transform: uppercase;
  scroll-behavior: smooth; }

.Header {
  background-image: url("../img/header.jpg");
  height: 134vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed; }

.hero-image {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.header-text {
  float: right;
  color: white;
  margin: 11%;
  margin-left: 50%;
  text-shadow: 4px 4px #0e0c0c;
  font-family: 'Poppins', sans-serif; }
  .header-text h1 {
    letter-spacing: 4px;
    font-size: 10vh; }
  .header-text h1 span {
    color: rgba(24, 35, 129, 0.87); }
  .header-text h2 {
    font-size: 4vh; }

.header-text2 {
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  position: absolute;
  margin: 0px;
  bottom: 0px;
  left: 19%;
  right: 18%;
  color: white; }

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease; }

a:hover {
  color: black; }

nav {
  overflow: visible;
  background-color: transparent;
  transition: background-color 1s ease 0s;
  position: fixed;
  top: 78px;
  width: 169%;
  z-index: 1; }

#burger input {
  display: block;
  width: 40px;
  height: 27px;
  position: absolute;
  top: -2px;
  left: 35px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#burger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  text-decoration: none;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  left: 40px; }

#burger span:first-child {
  transform-origin: 0% 0%; }

#burger span:nth-last-child(2) {
  transform-origin: 0% 100%; }

#burger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  left: 35px;
  text-decoration: none; }

#burger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#burger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  width: 262px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  text-decoration: none;
  padding-top: 125px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 52px;
  font-size: 22px;
  text-shadow: 2px 2px #0e0c0c;
  text-decoration: none;
  color: white; }

/*
 * And let's slide it in from the left
 */
#burger input:checked ~ ul {
  transform: none; }

.container1 {
  background-image: url("../img/con1.jpg");
  height: 161vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed; }
  .container1 .con1 {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .container1 .con1 h1 {
      color: white;
      text-align: center;
      font-size: 6vh;
      padding-top: 19%; }
    .container1 .con1 h3 {
      color: white;
      text-align: center;
      font-size: 3vh; }
    .container1 .con1 h4 {
      color: white; }

.skill {
  display: grid;
  margin: 9%;
  left: 10;
  padding-left: 13%; }
  .skill p {
    color: white;
    text-align: center;
    font-size: 14px; }

.skill-bar {
  width: 100%;
  max-width: 80%;
  height: 26px;
  height: 1.2em;
  background: #e6eae3;
  background: #0866dc;
  background: rgba(141, 185, 240, 0.2);
  overflow: hidden;
  border-radius: 5px; }

.skillbar {
  height: 1.66em;
  float: left;
  background: rgba(0, 0, 0, 0.74); }

.value-90 {
  width: 90%; }

.value-70 {
  width: 70%; }

.value-80 {
  width: 80%; }

.value-40 {
  width: 40%; }

.container2 {
  background-image: url("../img/con3.jpg");
  height: 189vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .container2 .con2 {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .container2 h1 {
    color: white;
    text-align: center;
    padding-top: 3%;
    font-size: 6vh; }
  .container2 .con2-grid {
    display: grid;
    grid-gap: -20%;
    grid-template-columns: auto auto auto;
    padding-right: 6%; }
  .container2 img {
    width: 97%;
    margin: 10%; }

.container3 {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden; }
  .container3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1; }
  .container3 .time {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both; }
  .container3 .time-right {
    float: right; }
  .container3 .time-left {
    float: left;
    direction: rtl; }
  .container3 .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9999; }
  .container3 .time-text {
    width: 95%;
    padding: 0px 18px;
    margin-bottom: 94px;
    color: #666; }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .header-text {
    float: right;
    color: white;
    margin: 11%;
    margin-left: 50%;
    text-shadow: 4px 4px #0e0c0c;
    font-family: 'Poppins', sans-serif; } }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .header-text {
    float: right;
    color: white;
    margin: 11%;
    margin-left: 50%;
    text-shadow: 4px 4px #0e0c0c;
    font-family: 'Poppins', sans-serif; } }
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .Header {
    background-image: url("../img/header.jpg");
    height: 134vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }

  .hero-image {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .header-text {
    float: right;
    color: white;
    margin: 11%;
    margin-left: 50%;
    text-shadow: 4px 4px #0e0c0c;
    font-family: 'Poppins', sans-serif; }
    .header-text h1 {
      letter-spacing: 4px;
      font-size: 10vh; }
    .header-text h1 span {
      color: rgba(24, 35, 129, 0.87); }
    .header-text h2 {
      font-size: 4vh; }

  .header-text2 {
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    position: absolute;
    margin: 0px;
    bottom: 0px;
    left: 19%;
    right: 18%;
    color: white; }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; }

  a:hover {
    color: black; } }
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Header {
    background-image: url("../img/header.jpg");
    height: 134vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }

  .hero-image {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .header-text {
    float: right;
    color: white;
    margin: 11%;
    margin-left: 50%;
    text-shadow: 4px 4px #0e0c0c;
    font-family: 'Poppins', sans-serif; }
    .header-text h1 {
      letter-spacing: 4px;
      font-size: 10vh; }
    .header-text h1 span {
      color: rgba(24, 35, 129, 0.87); }
    .header-text h2 {
      font-size: 4vh; }

  .header-text2 {
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    position: absolute;
    margin: 0px;
    bottom: 0px;
    left: 19%;
    right: 18%;
    color: white; }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; }

  a:hover {
    color: black; } }
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .Header {
    background-image: url("../img/header.jpg");
    height: 196vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }

  .hero-image {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .header-text {
    float: right;
    color: white;
    margin-top: 42%;
    /* margin: 11%; */
    /* margin-left: 50%; */
    text-shadow: 4px 4px #0e0c0c;
    font-family: 'Poppins', sans-serif; }
    .header-text h1 {
      letter-spacing: 4px;
      font-size: 8vh; }
    .header-text h1 span {
      color: rgba(24, 35, 129, 0.87); }
    .header-text h2 {
      font-size: 4vh; }

  .header-text2 {
    background: rgba(0, 0, 0, 0.7);
    /* padding: 50px; */
    position: absolute;
    /* margin: 0px; */
    bottom: 0px;
    top: 73%;
    left: 3%;
    right: 4%;
    color: white; }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; }

  a:hover {
    color: black; }

  .container1 {
    background-image: url("../img/con1.jpg");
    height: 105vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }

  .container2 {
    background-image: url("../img/con3.jpg");
    height: 161vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .container2 .con2 {
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .container2 h1 {
      color: white;
      text-align: center;
      padding-top: 3%;
      font-size: 6vh; }
    .container2 .con2-grid {
      display: grid;
      grid-gap: -20%;
      grid-template-columns: auto auto;
      padding-right: 6%; }
    .container2 img {
      width: 101%;
      margin: 5%; }
    .container2 .grid {
      width: 200%; } }
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .Header {
    background-image: url("../img/header.jpg");
    height: 147vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }

  .hero-image {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .header-text {
    float: right;
    color: white;
    margin-top: 56%;
    /* margin-left: 17%; */
    text-shadow: 4px 4px #0e0c0c;
    font-family: 'Poppins', sans-serif; }
    .header-text h1 {
      letter-spacing: 4px;
      font-size: 7vh; }
    .header-text h1 span {
      color: rgba(24, 35, 129, 0.87); }
    .header-text h2 {
      font-size: 4vh; }

  .header-text2 {
    background: rgba(0, 0, 0, 0.7);
    padding: 22px;
    position: absolute;
    margin: 0px;
    top: 58%;
    bottom: 0px;
    left: 3%;
    right: 4%;
    color: white; }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; }

  a:hover {
    color: black; }

  .container1 {
    background-image: url("../img/con1.jpg");
    height: 105vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }

  .container2 {
    background-image: url("../img/con3.jpg");
    height: 161vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .container2 .con2 {
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .container2 h1 {
      color: white;
      text-align: center;
      padding-top: 3%;
      font-size: 6vh; }
    .container2 .con2-grid {
      display: grid;
      grid-gap: -20%;
      grid-template-columns: auto;
      padding-right: 6%; }
    .container2 img {
      width: 91%;
      margin: 7%; } }
@media (min-width: 240px) and (max-width: 320px) {
  .Header {
    background-image: url("../img/header.jpg");
    height: 220vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }

  .hero-image {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .header-text {
    float: right;
    color: white;
    /* margin: 4%; */
    margin-left: 36%;
    text-shadow: 4px 4px #0e0c0c;
    font-family: 'Poppins', sans-serif; }
    .header-text h1 {
      letter-spacing: 4px;
      font-size: 7vh; }
    .header-text h1 span {
      color: rgba(24, 35, 129, 0.87); }
    .header-text h2 {
      font-size: 4vh; }

  .header-text2 {
    background: rgba(0, 0, 0, 0.7);
    padding: 3px;
    position: absolute;
    margin: 0px;
    bottom: 0px;
    top: 66%;
    left: 5%;
    right: 5%;
    color: white; }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; }

  a:hover {
    color: black; } }

/*# sourceMappingURL=styles.css.map */
