/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  html{
    overflow-x: hidden;
  }
    .header-text{
        float: right;
        color: $text-color;
        margin: 11%;
        margin-left: 50%;
        text-shadow: 4px 4px rgb(14, 12, 12);
        font-family: 'Poppins', sans-serif;
    }
    .container1 .skills-section .skills-sub {
      display: inline-flex;
      grid-template-columns: auto auto auto;
      margin: 12%;
  }
  .container3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 89%;
    background: #238bb1;
    z-index: 1;
}
.footer a {
  display: inline;
  $text-color-space: nowrap;
  margin-left: 165%;
  background: none;
  color: grey;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 28px;
  padding-top: 60px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.container1 .skills-section .skills-sub img {
  width: 20%;
  border-radius: 50%;
  border: 6px solid white;
  padding: 34px;
  margin-right: 81px;
}
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  html{
    overflow-x: hidden;
  }
    .header-text{
        float: right;
        color: $text-color;
        margin: 11%;
        margin-left: 50%;
        text-shadow: 4px 4px rgb(14, 12, 12);
        font-family: 'Poppins', sans-serif;
    }
    .container1 .skills-section .skills-sub {
      display: inline-flex;
      grid-template-columns: auto auto auto;
      margin: 12%;
  }
  .container3:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 89%;
    background: #238bb1;
    z-index: 1;
}
.footer a {
  display: inline;
  $text-color-space: nowrap;
  margin-left: 103%;
  background: none;
  color: grey;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 28px;
  padding-top: 60px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.container1 .skills-section .skills-sub img {
  width: 20%;
  border-radius: 50%;
  border: 6px solid white;
  padding: 34px;
  margin-right: 81px;
}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  html{
    overflow-x: hidden;
  }
  .Header {
    background-image:  url("../img/header.jpg");
    height: 114vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.hero-image {
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-text{
  float: right;
  color: $text-color;
  margin: 11%;
  margin-left: 50%;
  text-shadow: 4px 4px rgb(14, 12, 12);
  font-family: 'Poppins', sans-serif;

  h1{
      letter-spacing: 4px;
  font-size: 10vh;
  }
  h1 span{
      color: rgba(24, 35, 129, 0.87);
          }
          h2{
              font-size: 4vh;
          }

}
.container1 .header-text .text-grid img {
  border-radius: 50%;
  border: 6px solid $text-color;
  width: 33vh;
  margin-left: 46%;
}

.header-text2{
  background:rgba(0, 0, 0, 0.7);
  padding: 50px;
  position: absolute;
  margin: 0px;
  bottom: 0px;
  left: 19%;
  right: 18%;
 color: $text-color;
}


a{
  text-decoration: none;
  color: $text-color;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: black;
}
.container1 .skills-section .skills-sub {
  display: inline-flex;
  grid-template-columns: auto auto auto;
  margin: 12%;
}
.container2 {
  background-image: url(../img/con3.jpg);
  height: 245vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 89%;
  background: #238bb1;
  z-index: 1;
}
.footer a {
  display: inline;
  $text-color-space: nowrap;
  margin-left: 75%;
  background: none;
  color: grey;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 28px;
  padding-top: 60px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.container1 .skills-section .skills-sub img {
  width: 19vh;
border-radius: 50%;
border: 6px solid white;
padding: 21px;
margin-right: 26px;
}
}




/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html{
    overflow-x: hidden;
  }
  .Header {
    background-image:  url("../img/header.jpg");
    height: 114vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.hero-image {
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-text{
  float: right;
  color: $text-color;
  margin: 11%;
  margin-left: 50%;
  text-shadow: 4px 4px rgb(14, 12, 12);
  font-family: 'Poppins', sans-serif;

  h1{
      letter-spacing: 4px;
  font-size: 10vh;
  }
  h1 span{
      color: rgba(24, 35, 129, 0.87);
          }
          h2{
              font-size: 4vh;
          }

}

.header-text2{
  background:rgba(0, 0, 0, 0.7);
  padding: 50px;
  position: absolute;
  margin: 0px;
  bottom: 0px;
  left: 19%;
  right: 18%;
 color: $text-color;
}


a{
  text-decoration: none;
  color: $text-color;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: black;
}
.container1 .skills-section .skills-sub {
  display: grid;
grid-template-columns: auto auto auto auto;
margin: 15%;
grid-gap: -9%;
margin-top: 24%;
}
.footer a {
  display: inline;
  $text-color-space: nowrap;
  margin-left: 75%;
  background: none;
  color: grey;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 28px;
  padding-top: 60px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.container1 .skills-section .skills-sub img {
  width: 19vh;
border-radius: 50%;
border: 6px solid white;
padding: 21px;
margin-right: 26px;
}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  html{
    overflow-x: hidden;
  }
  .Header {
    background-image:  url("../img/header.jpg");
    height: 122vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.hero-image {
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-text{
  float: right;
  color: $text-color;
  margin-top: 30%;
  /* margin: 11%; */
  /* margin-left: 50%; */
  text-shadow: 4px 4px #0e0c0c;
  font-family: 'Poppins', sans-serif;

  h1{
      letter-spacing: 4px;
  font-size: 8vh;
  }
  h1 span{
      color: rgba(24, 35, 129, 0.87);
          }
          h2{
              font-size: 4vh;
          }

}
.container1 .header-text .text-grid {
  grid-template-columns: auto auto;
  display: inline-grid;
  grid-gap: 0%;
  margin-right: -12%;
  padding: 5px;
}
.container1 .header-text .text-grid img {
  border-radius: 50%;
  border: 6px solid $text-color;
  width: 33vh;
  margin-left: -3%;
}

.header-text2{
  background: rgba(0, 0, 0, 0.7);
  /* padding: 50px; */
  position: absolute;
  /* margin: 0px; */
  bottom: 0px;
  top: 73%;
  left: 3%;
  right: 4%;
  color: $text-color;
}


a{
  text-decoration: none;
  color: $text-color;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: black;
}
.container1 {
  background-image:  url("../img/con1.jpg");
  height: 141vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  .con1 h1 {
    color: $text-color;
    margin-left: 45px;
    text-align: center;
    font-size: 5vh;
    padding-top: 19%;
    text-shadow: 4px 4px #0e0c0c;
}
}
.container2{
  background-image:  url("../img/con3.jpg");
  height: 296vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .con2{
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  h1{
      color: $text-color;
      text-align: center;
      padding-top: 3%;
      font-size: 6vh;
  }
  .con2-grid{
      display: grid;
      grid-gap: -20%;
      grid-template-columns: auto auto ;
      padding-right: 6%;
  }
  img{
    width: 101%;
    margin: 5%;
  }
  .grid{
    width: 200%;
  }
}
.hover-image .hover-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  margin: 7%;
  width: 91%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.container2 .hover-image:hover .hover-details {
  top: 55%;
  left: 40%;
  opacity: 1;
}
.container1 .skills-section .skills-sub {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5%;
  margin-top: 18%;
  margin-left: 106px;
  grid-gap: 64px;
}
.container1 .skills-section .skills-sub img {
  width: 18vh;
  border-radius: 50%;
  border: 6px solid white;
  padding: 18px;
  margin-right: 28px;
}
.container3 .time-text {
  width: 95%;
  padding: 0px 62px;
  margin-bottom: -10px;
  color: #b6b4b4;
}
.container3 .time-left {
  text-align: right;
  direction: rtl;
  padding-bottom: 1px;
}
.footer .contact1 {
  display: grid;
  margin-top: 4px;
  grid-template-columns: auto auto;
  grid-gap: 49px;
}
.footer a {
  display: inline;
  $text-color-space: nowrap;
  margin-left: 37%;
  background: none;
  color: grey;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 27px;
  height: 30px;
  padding-top: 60px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.footer a span {
  display: inline;
  margin-left: 100%;
  color: $text-color;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: -345%;
  padding: 1px 2px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  word-spacing: 30px;
}
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  html{
    overflow-x: hidden;
  }
  .Header {
    background-image:  url("../img/header.jpg");
    height: 112vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.hero-image {
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-text{
  float: right;
  color: $text-color;
  margin-top: 37%;
  /* margin-left: 17%; */
  text-shadow: 4px 4px #0e0c0c;
  font-family: 'Poppins', sans-serif;

  h1{
    letter-spacing: 4px;
    font-size: 7vh;
  }
  h1 span{
      color: rgba(24, 35, 129, 0.87);
          }
          h2{
              font-size: 4vh;
          }

}
.Header .arrow {
  left: 42%;
  position: absolute;
  width: 12vh;
  bottom: 23%;
}
.container1 .header-text .text-grid img {
  display: none;
  border-radius: 50%;
  border: 6px solid $text-color;
  width: 38vh;
  margin-left: 64%;
}
.header-text2{
  background: rgba(0, 0, 0, 0.7);
  padding: 22px;
  position: absolute;
  margin: 0px;
  top: 58%;
  bottom: 0px;
  left: 3%;
  right: 4%;
  color: $text-color;
}


a{
  text-decoration: none;
  color: $text-color;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: black;
}

.container1 {
  background-image:  url("../img/con1.jpg");
  height: 152vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.container1 .skills-section .skills-sub {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5%;
  margin-top: 89px;
  margin-left: 51px;
  grid-gap: 91px;
}
.container1 .skills-section .skills-sub img {
  width: 189%;
    border-radius: 50%;
    border: 6px solid white;
    padding: 22px;
    margin-right: 12px;
}
.container1 .con1 h1 {
  color: $text-color;
  text-align: center;
  font-size: 5vh;
  padding-top: 19%;
  text-shadow: 4px 4px #0e0c0c;
}
.container1 .header-text .text-grid {
  grid-template-columns: auto auto;
  display: inline-grid;
  grid-gap: 1%;
  padding-right: -1%;
  padding: 5px;
}
.container2{
  background-image:  url("../img/con3.jpg");
  height: 266vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .hover-image .hover-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    margin: 7%;
    width: 91%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .con2{
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  h1{
      color: $text-color;
      text-align: center;
      padding-top: 3%;
      font-size: 6vh;
  }
  .con2-grid{
      display: grid;
      grid-gap: -20%;
      grid-template-columns: auto  ;
      padding-right: 6%;
  }
  img{
    width: 91%;
    margin: 7%;
  }
  
  // .grid{
  //   width: 200%;
  // }
}
.container3 {
  width: 82%;
  /* font-size: 2vh; */
  padding: 53px 3px;
  margin: 47px auto;
  position: relative;
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: auto;
}
.container3 .dot {
  display: none;
}
.container3:before {
display: none;
}
.container3 .time-text {
  width: auto;
  margin-bottom: 8px;
  padding: 0; 
  color: #b6b4b4;
}
.container3 .time-text h2 {
  color: $text-color;
  font-size: 3vh;
  $text-color-space: nowrap;
}
.container3 .time-text-left h2 {
  color: $text-color;
  margin-bottom: 11%;
  font-size: 3vh;
}
.container3 .time-left {
  text-align: left;
  /* direction: inherit; */
  padding-bottom: 0;
}
.container3 .time-text-left {
  /* width: 0; */
  padding: inherit;
  margin-bottom: 94px;
  color: #b6b4b4;
}
.footer .contact1 {
  display: grid;
  margin-top: 4px;
  grid-template-columns: auto auto;
  grid-gap: 49px;
}
.footer a {
  display: inline;
  $text-color-space: nowrap;
  margin-left: 9%;
  background: none;
  color: grey;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 27px;
  height: 30px;
  padding-top: 60px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.footer a span {
  display: inline;
  margin-left: 186%;
  color: $text-color;
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  bottom: -87px;
  left: -86%;
  padding: 1px 1px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  word-spacing: 30px;
}
.footer img {
  display: inline;
  margin-left: 100%;
  width: 8vh;
}
.copy {
  background-color: #040A10;
  height: 10vh;
}
}



@media (min-width: 240px) and (max-width: 320px) {
  html{
    overflow-x: hidden;
  }
  .Header {
    background-image:  url("../img/header.jpg");
    height: 102vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    .arrow {
      left: 34%;
      position: absolute;
      width: 9vh;
      bottom: 18%;
  }
}
.hero-image {
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-text{
  float: right;
  color: $text-color;
  /* top: 12%; */
  margin-top: 63%;
  /* margin: 4%; */
  margin-left: 42%;
  text-shadow: 4px 4px #0e0c0c;
  font-family: 'Poppins', sans-serif;

  h1{
      letter-spacing: 4px;
  font-size: 6vh;
  }
  h1 span{
      color: rgba(24, 35, 129, 0.87);
          }
          h2{
              font-size: 4vh;
          }
           
}

.header-text2 {
  background: rgba(0, 0, 0, 0.7);
  padding: 3px;
  position: absolute;
  margin: 0px;
  bottom: 0px;
  top: 66%;
  left: 5%;
  right: 5%;
  color: $text-color;
}


a{
  text-decoration: none;
  color: $text-color;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: black;
}
.container1 .header-text .text-grid {
  grid-template-columns: auto;
    /* display: inline-grid; */
    grid-gap: 2%;
    padding-right: -1%;
    padding: 0px;
    h1{
      font-size: 6vh;
    }
  img{
    display: none;
    border-radius: 50%;
    border: 6px solid $text-color;
    width: 32vh;
    margin-left: 6%;
  }
}  
.container1 {
  background-image: url(../img/con1.jpg);
  height: 201vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  .con1 h1{
    font-size: 5vh;
  }
} 
.container1 .header-text {
  background: rgba(0, 0, 0, 0.7);
  padding: 37px;
  display: grid;
  margin: 0px;
  bottom: 0px;
  left: 19%;
  right: 18%;
  color: $text-color;
}
.container1 .header-text .text-grid .text {
  padding-right: 0;
  /* margin: 7px; */
  margin-top: 0;
  padding-left: -11px;
  /* left: 4px; */
  margin-right: -10%;
  /* text-align: center; */
}
.container1 .skills-section .skills-sub {
  display: inline;
  grid-template-columns: auto auto auto;
  margin: 14%;
  margin-top: 24%;
  margin-left: 11%;
}
.container1 .skills-section .skills-sub img {
  width: 68%;
border-radius: 50%;
border: 6px solid white;
padding: 19px;
margin-bottom: 6%;
margin-right: 5%;
margin-left: 11%;
}
.container2 .con2-grid{
  display: grid;
  grid-gap: -20%;
  grid-template-columns: auto  ;
  padding-right: 6%;
}
img{
width: 91%;
margin: 7%;
}
.container2 .hover-image:hover .hover-details {
  top: 52%;
  left: 43%;
  opacity: 1;
}
}